<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Bibtexinator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#222831" /> <!-- For mobile Chrome -->
        <!-- link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css' /-->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <!-- link rel="stylesheet" th:href="@{/css/style.css}" /-->
    </head>
    <body>
        <h1>Bibtexinator</h1>
        <ul th:each="book : ${books}">
            <li th:text="${book.author}">Author</li>
            <li th:text="${book.title}">Title</li>
            <li th:text="${book.year}">Year</li>
            <li th:text="${book.publisher}">Publisher</li>
        </ul>
        <form action="#" th:action="@{/bibtexinator/save}" th:object="${book}" method="POST">
            <table class="table">
                <tr>
                    <td>Author: </td>
                    <td><input name="author" type="text" th:field="*{author}" /></td>
                </tr>
                <tr>
                    <td>Title: </td>
                    <td><input name="title" type="text" th:field="*{title}" /></td>
                </tr>
                <tr>
                    <td>Year: </td>
                    <td><input name="year" type="text" th:field="*{year}" /></td>
                </tr>
                <tr>
                    <td>Publisher: </td>
                    <td><input name="publisher" type="text" th:field="*{publisher}" /></td>
                </tr>
                <tr>
                    <td><button name="add" type="submit" class="btn btn-default">Submit</button></td>
                </tr>
            </table>
        </form>
        <form action="#" th:action="@{/bibtexinator/download}" th:object="${FileForm}" method="GET">
            <table class="table">
                <tr>
                    <td>File name: </td>
                    <td><input name="fileName" type="text" th:field="*{fileName}"/></td>
                </tr>
                <tr>
                    <td><button name="add" type="submit" class="btn btn-default">Download file</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>
